<div id="second-page" class="second-page">
    <h2>OUR CLASSES</h2>
    <p class="stick"></p>
    <br>
    <p id="p2">Lorem Ipsum is not simly random text. Has roots in a piece of classical at <br>
        Hampden-Sydney Collage.
    </p>

    <section id="Classes">
        <div id="container1" class="container1">
            <button id="buttonclass1" data-src="Resimler/yoga.jpg" class="active-button change-image" onclick="changec1()">Yoga</button><br>
            <button id="buttonclass2" data-src="Resimler/Group.webp" class="active-button change-image" onclick="changec2()">Group</button><br>
            <button id="buttonclass3" data-src="Resimler/solo.jpg" class="active-button change-image" onclick="changec3()">Solo</button><br>
            <button id="buttonclass4" data-src="Resimler/stret.webp" class="active-button change-image" onclick="changec4()">Stretching</button>
        </div><br><br>
    </section>
    <div id="container2" class="container2">
        <div class="container">
            <p id="ClassHead1" style="color: rgb(78, 23, 23); font-weight: bold; font-size: larger;">Why are your Yoga?</p>
            <p id="ClassContent1">Yoga cultivates mindfulness, flexibility, and strength, fostering well-being and inner peace in sports and daily life. 
                Enhances mental clarity, reduces stress, and improves physical health through mindful movement and breath.</p>
            <p id="ClassHead2" style="color: rgb(78, 23, 23); font-weight: bold; font-size: larger;">When Comes Your Yoga Time??</p>
            <p id="ClassContent2">Saturday-Sunday:8:00am-10:00am <br><br>
                Monday-Tuesday:10:00am-12:00am <br><br>
                Wednesday-Friday:3:00pm-6:00pm 
            </p>
        </div>
        <img class="ClassImage" id="imgClasses" src="Resimler/yoga.jpg" alt="">
    </div>
</div>
