<section id="homepage" class="homepage">
    <h2>Group<br>Practice<br>With Trainer</h2>
    <p id="p1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus deleniti culpa nobis nam atque iure neque in fuga facilis, impedit ut odio quo! Lorem ipsum dolor sit amet.</p>
    <div class="buttons1-container">
        <button id="button4" class="button4">Sign Up</button>
        <button id="button5" class="button5">Details</button>
    </div>
    <div id="grid-container" class="grid-container">
        <div id="Course" class="grid-items">
            <h5 style="color:rgb(42, 42, 162); position: relative; padding: auto;">325</h5>
            <p style="font-weight: bolder;">Course</p>
        </div>
        <div id="Work Out" class="grid-items">
            <h5 style="color:rgb(42, 42, 162); position: relative;">405</h5>
            <p style="font-weight: bolder;">Work Out</p>
        </div>
        <div id="Working Hour" class="grid-items">
            <h5 style="color:rgb(42, 42, 162); position: relative;">305</h5>
            <p style="font-weight: bolder;">Working Hour</p>
        </div>
        <div id="Happy Client" class="grid-items">
            <h5 style="color:rgb(42, 42, 162); position: relative;">705</h5>
            <p style="font-weight: bolder;">Happy Client</p>
        </div>
    </div>
</section>
