<section id="Trainer" class="container4">
    <h2>OUR BEST TRAINERS</h2><br>
    <p class="stick" style="margin-top:-15px ;"></p>
    <p style="font-weight: bold; color: rgb(73, 55, 55); text-align: center;">Our top-notch trainers at the sport center offer unparalleled expertise, motivation,<br> 
        and personalized guidance for achieving your fitness goals efficiently.</p>
    <div>        
        <div class="trainers" id="trainers" >
            <div id="trainer1" style="margin-top: 30px; gap: 0px; margin-right: 200px;">
                <div class="plus-block"></div>
                <div style="display: flex; flex-direction: row; margin-left: -100px;">
                    <div class="plus-block"></div>
                    <div class="plus-block"></div>
                    <div class="plus-block"></div>
                </div>
                <div class="plus-block"></div>
                <img class="trainer-img hoverable" src="Resimler/trainer1.jpg" alt="">
                <div class="overlay">
                    <div style="text-align: center;" ><p style="font-weight:bold; font-size: larger;">Emily Johnson</p> <p>Personal Coach</p></div>
                </div>
            </div>
            <div id="trainer2" style="margin-top: 30px; gap: 0px;">
                <div class="plus-block"></div>
                <div style="display: flex; flex-direction: row; margin-left: -100px;">
                    <div class="plus-block"></div>
                    <div class="plus-block"></div>
                    <div class="plus-block"></div>
                </div>
                <div class="plus-block"></div>
                <img class="trainer-img hoverable" src="Resimler/trainer2.jpg" alt="">
                <div class="overlay">
                    <div style="text-align: center;" ><p style="font-weight:bold; font-size: larger;">Samuel W. Smith</p> <p>Fitness Trainer</p></div>
                </div>
            </div>
            <div id="trainer3" class="trainer3">
                <div class="plus-block"></div>
                <div style="display: flex; flex-direction: row; margin-left: -100px;">
                    <div class="plus-block"></div>
                    <div class="plus-block"></div>
                    <div class="plus-block"></div>
                </div>
                <div class="plus-block"></div>
                <img class="trainer-img hoverable" src="Resimler/trainer3.jpg" alt="">
                <div class="overlay">
                    <div style="text-align: center;" ><p style="font-weight:bold; font-size: larger;">Jane Doe</p> <p>Cardio Specialist</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
